.ads-block {
    height: 180px;
    background-color: #00D2D0;

    h2 {
        text-align: center;
        padding-top: 58px;
        @include font-params (400, 48px, 65px, 0.05em);
    }
}

@media only screen and (max-width: 1023px) and (min-width: 311px) {
    .ads-block {
        height: 133px;
    
        h2 {
            padding-top: 34px;
        }
    }
}