footer {
    @include block-pos;
    padding: 48px 0;
    @include flex-params (row, space-between, center);

    .logo {
        display: flex;
        align-items: center;
    }

    nav {
        ul {
            display: flex;

            li {
                margin-right: 30px;

                a {
                    @include font-params (400, 16px, 150%, 0.05em);
                }

                &:nth-child(2) {
                    a {
                        color: #DB0BC0;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}