@media only screen and (max-width: 1320px) and (min-width: 480px) {
    .fishing-place__cart {
        @include flex-params (row, space-between, top);
        padding: 15px;
        border: 1px solid #CBD2E0;
        border-radius: 10px;
        margin-bottom: 10px;
        color: $link_color;
        width: 100%;
        height: 258px;

        &.active {
            flex-wrap: wrap;
            height: max-content;

            .fishing-place__pic {
                margin-bottom: 20px;
            }

            .fishing-place__desc {
                max-width: 412px;
                margin-bottom: 20px;

                .desc_footer {
                    @include flex-params (row, space-between, center);

                    .likes-count {
                        @include font-params (900, 22px, 25px, 0.05em);

                        &::before {
                            width: 32px;
                            height: 32px;
                            background-size: cover;
                        }
                    }
                }
            }

            .fishing-place__types {
                max-width: 660px;
                margin: 0;
                margin-bottom: 20px;
            }

            .fishing-place__details {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;

                .work-time {
                    max-width: 150px;
                }
            }
        }
    }

    .fishing-place__wrapper {
        &:last-child {
            margin-bottom: 23px;
        }
    }
}